<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets  
                'vendor/bootstrap/dist/css/bootstrap.min.css'
                'bundles/app/css/default.css'
            combine=true filter='cssrewrite' %}
                <link type="text/css" rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('homepage') }}">
                        WS Xample
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% set loggedLinks = [
                                    { label: 'Profile', path: 'fos_user_profile_show'},
                                    { label: 'Logout', path: 'fos_user_security_logout'}
                                ] %}
                                {% for link in loggedLinks %}
                                <li>
                                    <a href="{{ path(link.path) }}">
                                        {{ link.label }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        {% set anonymLinks = [
                            { label: 'Login', path: 'fos_user_security_login'},
                            { label: 'Register', path: 'fos_user_registration_register'}
                        ] %}
                        {% for link in anonymLinks %}
                        <li {% if link.path == app.request.attributes.get('_route') %}class="active"{% endif %}>
                            <a href="{{ path(link.path) }}">
                                {{ link.label }}
                            </a>
                        </li>
                        {% endfor %}
                    {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% javascripts
                'vendor/jquery/dist/jquery.min.js'
                'vendor/bootstrap/dist/js/bootstrap.min.js'
            %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
