{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block header_custom_menu %}
    {% set _logout_path = easyadmin_logout_path() %}
    <ul class="nav navbar-nav">
        <li>
            <a href="{{ path('chat') }}">
                Back to the app
            </a>
        </li>
        <li class="dropdown user user-menu">
            {% block user_menu %}
                <span class="sr-only">{{ 'user.logged_in_as'|trans(domain = 'EasyAdminBundle') }}</span>

                {% if app.user|default(false) == false %}
                    <i class="hidden-xs fa fa-user-times"></i>
                    {{ 'user.anonymous'|trans(domain = 'EasyAdminBundle') }}
                {% elseif not _logout_path %}
                    <i class="hidden-xs fa fa-user"></i>
                    {{ app.user.username|default('user.unnamed'|trans(domain = 'EasyAdminBundle')) }}
                {% else %}
                    <div class="btn-group">
                        <button type="button" class="btn" data-toggle="dropdown">
                            <i class="hidden-xs fa fa-user"></i>
                            {{ app.user.username|default('user.unnamed'|trans(domain = 'EasyAdminBundle')) }}
                        </button>
                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            {% block user_menu_dropdown %}
                            <li>
                                <a href="{{ _logout_path }}"><i class="fa fa-sign-out"></i> {{ 'user.signout'|trans(domain = 'EasyAdminBundle') }}</a>
                            </li>
                            {% endblock user_menu_dropdown %}
                        </ul>
                    </div>
                {% endif %}
            {% endblock user_menu %}
        </li>
    </ul>
{% endblock header_custom_menu %}